<?xml version='1.0' encoding="utf-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Betelgeuse\Blog\Controller\Article\View">
        <plugin name="betelgeuse_plugin" type="Betelgeuse\Blog\Controller\Plugin" sortOrder="10" disabled="false" />
    </type>
    <preference for="Betelgeuse\Blog\Api\HamburgerRepositoryInterface" type="Betelgeuse\Blog\Model\HamburgerRepository"/>
    <preference for="Betelgeuse\Blog\Api\Data\HamburgerInterface" type="Betelgeuse\Blog\Model\Hamburger"/>
    <preference for="Betelgeuse\Blog\Api\Data\HamburgerSearchResultInterface" type="Betelgeuse\Blog\Model\HamburgerSearchResult"/>

    <preference for="Betelgeuse\Blog\Api\CustomInterface" type="Betelgeuse\Blog\Model\Api\Custom"/>
</config>
