<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <elogic>
            <anbis>
                <block2>block2</block2> <!-- bin/magento config:set elogic/anbis/block2 value -> save config via command -->
            </anbis>
        </elogic>
    </default>
</config>
